<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MXPagerAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60660EC01E6ABC87007ADE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60660ED41E6ABC87007ADE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60660EDF1E6ABC87007ADE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
